.env
env/

__pycache__/
/.vs/discord-voice-transcript-nosummary/CopilotIndices/17.12.38.29086
/.vs/discord-voice-transcript-nosummary/FileContentIndex
/.vs/discord-voice-transcript-nosummary/v17
/.vs
/out/build/x64-Debug/.cmake/api/v1
/out/build/x64-Debug
/recorded_wavs
